@media (max-width: 1919px) {
    .first-block__img-div img {
        width: 1020px;
    }
}

@media (max-width: 1600px) {
    .fourth-block__map__nav__mini-div {
        top: -19% !important;
    }

    .first-block__img-div img {
        width: 750px;
        margin-top: 70px;
    }

    .first-block-div {
        justify-content: space-evenly;
    }

    .second-block__card {
        width: 300px;
    }

    .second-block__cards {
        justify-content: center;
    }

    .second-block__card__img img {
        width: 250px;
        margin-top: 65px;
    }

    .container {
        max-width: 80%;
        margin: 0 auto;
    }
}


@media (max-width: 1439px) {
    .first-block__text-div__logo img {
        width: 36px;
        height: 29px;
    }

    .first-block__text-div__logo p {
        margin-left: 12px;
    }

    .vacancy-block-grid__card p {
        line-height: 30px;
    }

    .vacancy-block-grid__card__subtitles div {
        line-height: 25px;
    }

    .first-block__img-div img {
        width: 650px;
        margin-top: 100px;
    }

    .fourth-block__advantages__card {
        height: auto !important;
    }

    .second-block__card__img img {
        width: 87%;
        margin-top: 17px;
    }
}

@media(max-width: 1280px) {
    .container {
        max-width: 90%;
        margin: 0 auto;
    }

    .first-block__img-div img {
        width: 484px;
    }

    .first-block__text-div {
        margin-top: 140px;
    }

    .third-block__card {
        height: 355px !important;
    }

    .swiper-scrollbar {
        top: 355px !important;
        border-top: none;
    }

    .mySwiper {
        height: 291px;
    }

    .second-block__card__img img {
        margin-top: 0px;
    }

    .fourth-block__map__nav__text h3 {
        padding: 20px 67px 20px 30px;
    }

    .swiper-scrollbar-horizontal {
        top: 291.5px !important;
    }

    .swiper-button-next, .swiper-button-prev {
        top: 73.8%;
    }
}


@media(max-width: 1024px) {
    .first-block__text-div__texts p {
        width: auto;
    }

    .first-block__text-div__texts h1 {
        width: auto;
    }

    .first-block__img-div {
        display: none;
    }

    .first-block__img-div-mobile {
        display: block;
        left: 60%;
        position: absolute;
        top: 53%;
    }

    .first-block {
        background-image: url('../img/bg-mobile.png');
        background-size: contain;
        background-position: right;
        background-repeat: no-repeat;
        height: 660px;
        margin-right: -5.5% ;
    }

    .second-block__cards {
        overflow-x: scroll;
        justify-content: flex-start;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .second-block__card {
        width: 358px;
    }

    .second-block__card__img img {
        margin-top: 70px;
    }

    .vacancy-block-grid {
        grid-template-columns: 1fr;
    }

    .fourth-block__advantages-grid {
        grid-template-columns: 1fr ;
    }

    .fourth-block__numbers div{
        display: block;
    }

    .fourth-block__numbers__card {
        width: auto;
        border: 1px solid var(--second-text-color);
        margin-top: 22px;
    }

    .third-block__card {
        height: fit-content !important;
    }

    .fourth-block__map__nav__text h3 {
        padding: 20px 20px 20px 20px;
    }

    .fourth-block__map-numbers__mini-div {
        top: -0.6%;
    }

    .sidebar {
        width: 65%;
    }

    .swiper {
        margin-right: -5.5% !important;
    }

    .third-block__card__mini-div2 {
        right: -36px;
    }

    .third-block__cards-parent {
        position: relative;
    }

    .swiper {
        position: static !important;
    }

    .swiper-scrollbar {
        display: none;
        top: 442px !important;
        left: var(--swiper-scrollbar-sides-offset, 6.6%) !important;
        width: calc(100% - 2* var(--swiper-scrollbar-sides-offset, 3.8%)) !important;
    }

    .swiper-button-next, .swiper-button-prev {
        display: none;
    }


    .swiper-button-next {
        right: -38px;
    }

    .fourth-block__map {
        border-bottom: 1px solid var(--second-text-color);
    }

    .fourth-block__numbers .df:first-child {
        margin-top: 100px;
    }

    .fourth-block__numbers__card {
        padding: 20px 30px 30px 30px;
    }
}

@media(max-width: 768px) {
    .first-block__img-div-mobile {
        display: block;
    }

    .swiper-button-next {
        right: -23px;
    }

    .third-block__card__mini-div2 {
        right: -23px;
    }

    .swiper-scrollbar {
        left: var(--swiper-scrollbar-sides-offset, 10.6%) !important;
        width: calc(100% - 2 * var(--swiper-scrollbar-sides-offset, 7.8%)) !important;
        border-top: none;
    }

    footer .df_jcsb {
        display: flex;
        flex-direction: column-reverse;
    }

    .footer__text {
        text-align: center;
        gap: 60px;
    }

    .footer__links {
        justify-content: center;
        margin-bottom: 60px;
    }

    .vacancy-block-grid__card {
        padding: 20px;
    }

    .fourth-block__map__nav {
        display: block;
    }

    .fourth-block__map-numbers .fourth-block__map-numbers__mini-div {
        display: none;
    }

    .fourth-block__buttons {
        justify-content: center;
    }

    .fourth-block__map__nav__text h3 {
        text-align: center;
        border-left: none;
    }

    .fourth-block__maps {
        border: none;
    }

    .first-block__text-div__texts button {
        width: auto;
    }

    .first-block__text-div__texts {
        position: relative;
    }

    .first-block__img-div-mobile {
        position: absolute;
        left: 60%;
        top: 70%;
    }

    .fourth-block__map {
        overflow-x: scroll;
        width: 100%;
    }

    .fourth-block__map svg {
        width: 1000px;
    }

    .fourth-block__map__text {
        top: 29%;
        left: 197%;
    }

    .first-block__text-div__logo p {
        display: none;
    }

    .first-block__text-div__logo img {
        width: 41px;
        height: 40px;
    }

    .first-block__text-div {
        margin-top: 40  px;
    }

    .first-block__text-div__texts h1 {
        line-height: 40px;
    }
    .first-block__text-div__texts p {
        line-height: 25px;
    }

    .vacancy-block-grid__card__subtitles {
        gap: 10px;
    }
}

@media(max-width: 480px) {
    .vacancy-block-grid__card__subtitles {
        flex-wrap: wrap;
    }

    .fourth-block__map__text {
        top: 29%;
        left: 334%;
    }

    .sidebar {
        width: 100%;
    }

    .second-block__card {
        width: 300px;
    }

    .second-block__card__img {
        justify-content: center;
    }

    .second-block__card__texts {
        padding: 32px 18px;
    }
}

