*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text-color);
}

body{
  background-color: var(--background-color);
  user-select: none;
}

li{
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}